/*
AZUL: #372F6B
LILA MEDIO: #7C58AA
LILA OSCURO: #553769
ORIGINAL BEIGE:#FEF094

ROSA: D277BD
BEIGE: #FEC2B5
CELESTE: BCA2E7

*/

#box-header-main {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  /*border-bottom: 2px solid #FC5439;*/

}
#box-header-main-center {
  width: 80%;
  min-height: 5.5rem;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
#box-header-logo {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  color: #FEF094;
  padding-left: 1rem;
  padding-right: 1rem;
}
#box-header-logo h2{
  margin: 0;
  padding: 0;
  text-shadow: 2px 2px 2px black;
}

#box-header-img {
  height: 5.5rem;
  width: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo negro con 50% de opacidad */
}
#box-header-img img{
  height: 100%;
  margin: 0;
  opacity: 1;
}

#box-header-botonera {
  height: auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
#box-header-botonera a{
  color: #FEF094;
  text-decoration: none;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  font-size: 1.1rem;
  border-radius: 5px;
  background-color: #553769;
  /*border-bottom: 2px solid #FEF094;*/
  /*border-top: 2px solid #553769;*/
  /*box-shadow: 10px 10px 15px black;*/
  box-shadow: 10px 10px 20px #333333;
  /*box-shadow: 10px 10px 20px #333333;*/
}
#box-header-botonera a:hover{
  background-color: #372F6B;
}
.botonResponsive button{
  background-color: #FEF094;
}
.botonResponsive ul li{
  text-align: center;
}