/*
AZUL: #413F8A
LILA MEDIO: #7C58AA
LILA OSCURO: #553769
ROSA: D277BD
BEIGE: #FEC2B5
ORIGINAL BEIGE:#FEF094
CELESTE: BCA2E7

*/

@font-face {
  font-family: 'franchise';
  src: url('../src/fonts/Franchise.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}



#box-center-home {
  width: 80%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#box-home-img {
  width: 40%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}
#box-home-img img{
  width: 100%;
}

#box-home-texto {
  width: 55%;
  height: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin-top: 1rem;
}
#box-home-texto p{
  padding: 0;
  margin: 0;
  font-size: 2.8rem;
  font-family: 'franchise';
}

@media (max-width: 1024px) {
  #box-home-img {
    width: 60%;
  }
  #box-home-texto {
    width: 80%;
  }
  #box-home-texto p{
    text-align: center;
  }
  
}
@media (max-width: 991px) {
  #box-home-texto {
    background-color: red;
    width: 100%;
  }
  #box-home-texto p{
    font-size: 2.5rem;
  }
}
