/*
AZUL: #413F8A
LILA MEDIO: #7C58AA
LILA OSCURO: #553769
ROSA: D277BD
BEIGE: #FEC2B5
ORIGINAL BEIGE:#FEF094
CELESTE: BCA2E7

*/

#box-center-home {
  width: 80%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#box-home-img {
  width: 40%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}
#box-home-img img{
  width: 100%;
}

#box-home-texto {
  width: 55%;
  height: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin-top: 1rem;
}
#box-home-texto p{
  padding: 0;
  margin: 0;
  font-size: 2.8rem;
  font-family: 'franchise';
  text-align: center;
}
/*
@media (max-width: 1024px) {
  #box-home-img {
    width: 60%;
  }
  #box-home-texto {
    width: 90%;
  }
  #box-home-texto p{
    font-size: 3rem;
  }
  
}
@media (max-width: 991px) {
  #box-home-texto {
    width: 100%;
    background-color: red;
  }
  #box-home-texto p{
    font-size: 2.5rem;
  }
}
@media (max-width: 767px) {

  #box-center-home {
    width: 90%;
  }

  #box-home-img {
    width: 85%;
  }

  #box-home-texto {
    width: 100%;
    background-color: blue;
  }

  #box-home-texto p{
    font-size: 1.8rem;
  }
}
*/
/* Teléfonos pequeños */
@media (max-width: 575px) {
  #box-center-home {
    width: 95%;
  }

  #box-home-img {
    width: 80%;
  }
  #box-home-texto {
    width: 100%;
  }
  #box-home-texto p{
    font-size: 2.5rem;
  }
}

/* Teléfonos grandes */
@media (min-width: 576px) and (max-width: 767px) {

  #box-center-home {
    width: 95%;
  }

  #box-home-img {
    width: 80%;
  }
  #box-home-texto {
    width: 100%;
  }
  #box-home-texto p{
    font-size: 2.5rem;
  }
}

/* Tabletas */
@media (min-width: 768px) and (max-width: 991px) {

  #box-center-home {
    width: 90%;
  }

  #box-home-img {
    width: 75%;
  }
  #box-home-texto {
    width: 100%;
  }
  #box-home-texto p{
    font-size: 2.8rem;
  }
}

/* Laptops pequeñas */
@media (min-width: 992px) and (max-width: 1199px) {
  #box-home-img {
    width: 60%;
  }
  #box-home-texto {
    width: 90%;
  }
  #box-home-texto p{
    font-size: 3rem;
  }
}

/* Monitores grandes */
@media (min-width: 1200px) {
  
}