/*
AZUL: #413F8A
LILA MEDIO: #7C58AA
LILA OSCURO: #553769
ROSA: D277BD
BEIGE: #FEC2B5
ORIGINAL BEIGE:#FEF094
CELESTE: BCA2E7

*/
#skill-component {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  /*border: 1px solid #FEF094;*/
  margin-right: 0.2rem;
  border-radius: 5px;
}
#skill-component p{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0.3rem;
  margin-right: 0.3rem;
}