/*
AZUL: #413F8A
LILA CLARO: #9988BB

lilaBox #7B66AB

LILA MEDIO: #7C58AA
LILA OSCURO: #553769
ROSA: D277BD
BEIGE: #FEC2B5
ORIGINAL BEIGE:#FEF094
CELESTE: BCA2E7

*/


#box-main-trayectoria {
  width: 80%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  padding: 0;
}
#box-main-trayectoria-caja-cerrar {
  width: 100%;
  height: auto;
  padding-left: 1.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 1rem;
}
#box-main-trayectoria-caja-cerrar button{
  font-size: 0.9rem;
  box-shadow: 10px 10px 20px #333333;
  font-family: Helvetica, sans-serif;
  padding: 0.3rem;
  border: none;
}
#box-main-trayectoria-caja-cerrar button:hover{
  background-color: #372F6B;
}
#box-main-trayectoria-years-content {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

#box-main-trayectoria-years {
  width: 20%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.5rem;

}
#box-main-trayectoria-content {
  width: 80%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid black;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 10px;
  background-color: #9988BB;
  margin-bottom: 1.5rem;
}

#box-main-trayectoria-years-armario {
  width: 80%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #9988BB;
  border-radius: 10px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  box-shadow: 10px 10px 20px #333333;
}
#box-main-trayectoria-years-armario p{
  border-bottom: 2px solid black;
  font-family: 'franchise';
  font-size: 1.5rem;
  width: 60%;
  text-align: center;
  cursor: pointer;
  transition: transform 0.3s ease;

}
#box-main-trayectoria-years-armario p:hover {
  transform: scale(1.1); /* Aumenta el tamaño de la imagen al hacer hover */
}

#box-main-trayectoria-content-border {
  width: 98%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: 3px solid black;
  border-radius: 10px;
  font-family: 'coolvetica';
  background-color: #7B66AB;
  padding: 0.3rem;
}


#box-main-trayectoria-content-border2025{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
#box-main-trayectoria-content-border2025-boxImg {
  width: 30%;
  height: auto;
}
#box-main-trayectoria-content-border2025-boxImg img{
  width: 100%;
  border-radius: 10px;
}

#box-main-trayectoria-content-border2025-boxContent {
  width: 70%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
#box-main-trayectoria-content-border2025-boxContent h3{
  text-align: center;
  padding: 0;
  font-size: 1.2rem;
  background-color: #9988BB;
  border-radius: 5px;
  width: 95%;
  padding: 0.3rem;
}
#box-main-trayectoria-content-border2025-boxContent a{
  font-size: 1.2rem;
  background-color: #9988BB;
  border-radius: 5px;
  padding: 0.2rem;
  text-decoration: none;
  color: black;
}
#box-main-trayectoria-content-border2025-boxContent a:hover{
  color: #372F6B;
}

.carousel {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.carousel-inner img {
  max-width: 20rem;
}

#box-main-trayectoria-content-border2025-textDev {
  width: 100%;
  height: auto;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
#box-main-trayectoria-content-border2025-textDev h3{
  width: 90%;
  text-align: center;
  font-size: 1.2rem;
  background-color: #9988BB;
  border-radius: 5px;
  padding: 0.3rem;
}
#box-main-trayectoria-content-border2025-textDev img{
  width: 40%;
  border-radius: 50%;
}
#box-main-trayectoria-content-border2024 {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
#box-main-trayectoria-content-border2024 h3{
  font-size: 1.2rem;
  text-align: center;
  background-color: aqua;
}
#box-main-trayectoria-content-border2023 {
  height: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
  
}