/*
AZUL: #413F8A
LILA MEDIO: #7C58AA
LILA OSCURO: #553769
ROSA: D277BD
BEIGE: #FEC2B5
ORIGINAL BEIGE:#FEF094
CELESTE: BCA2E7

*/

#box-body-home {
  width: 100%;
  min-height: 100vh;
  height: auto;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #7C58AA;
}
